<% update_document_title(add: @urgent.title) %>
<% update_breadcrumbs(add: link_to('Urgent Announcements', urgents_path), add: @urgent.title) %>
<% nav %>
<% content_for :head do %>
  <%= stylesheet_link_tag('notes', 'data-turbo-track': 'reload') %>
<% end %>

<div class="full-screen-note" style="background-color: #fff5f5;">
  <h1><%= @urgent.title %></h1>
  <p><%= @urgent.value %></p>

  <div class="creator-info">
    <div>&mdash;&mdash; <%= @urgent.participant_name %></div>
    <div><%= @urgent.created_at.strftime('%Y.%m.%d') %></div>
  </div>

  <% if can?(:archive, @urgent) %>
    <%= link_to 'Archive',
                archive_urgent_path(@urgent),
                data: { turbo_method: :patch, turbo_confirm: 'Archive this announcement?' },
                class: 'cta' %>
  <% end %>
  <%= link_to 'Back to Announcements', urgents_path, class: 'cta' %>
</div>
